* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-width: 1280px;
    background: #383838;
}

h3{
    font-size: 3rem;
}

.content-toggle{
    width: 90%;
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10000;
}

.content-toggle .toggle{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: url(assets/menuOpen.png);
    background-size: 70%;  
    background-repeat: no-repeat;  
    background-position: center;
    cursor: pointer;
    z-index: 10000;
    
}

.toggle.active{
    background: url(assets/menuClose.png);
    background-size: cover;
    background-position: center;
}

.sidebar{
    position: fixed;
    background: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 45%;
    max-width: 700px;
    min-width: 640px;
    transition: 0.5s ease-in-out;
    padding: 40px;
    z-index: 100;
    left: 100%;
    
}

.sidebar.active{
    left: 50%;
}

.sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin: 20px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover{
    color: #2C9CAA;
}

#section-1{
    height: 100vh;
    width: 90%;
    max-width: 1400px ;
    background: #f4f4f4;
    margin: 0 auto;
    display: grid;
    grid-template-areas:    "photo texte"
                            "contact contact";
    grid-template-columns: 1fr 60%;
    grid-template-rows: 74% 1fr;
}

#section-1 .texte{
    padding: 30px;
    grid-area: texte;
    position: relative;
}

#section-1 .texte h1{
    font-size: 3rem;
    color: #383838;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

#section-1 .texte h2{
    font-size: 3rem;
    color: #0E6C81;
    margin-top: 30px;
}

#section-1 .texte .profil{
background: #2C9CAA;
background-repeat: no-repeat;
color: rgb(255, 255, 255);
position: absolute;
bottom: 0;
left: 0;
padding: 30px;
}

#section-1 .texte .profil::after{
content: "";
background: #f4f4f4;
width: 60%;
min-width: 400px;
height: 20%;
position: absolute;
top: 0;
right: 0;
}

#section-1 .texte .profil h3{
    margin-bottom: 30px;
}

#section-1 .texte .profil p{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

#section-1 .photoProfil{
    background: url("assets/selfi.jpg") center/cover;
    grid-area: photo;
}

#section-1 .contact{
    grid-area: contact;
    display: grid;
    grid-template-areas:    "contact contact contact contact"
                                        "mail tel rs adresse";
    padding: 30px;
}

#section-1 .contact h3{
    grid-area: contact;
    color: #383838;
}

#section-1 .contact .mail{
    grid-area: mail;
    font-size: calc(0.33 * 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#section-1 .contact .mail::before{
    content: "\2709";
    color: white;
    font-size: 3rem;
    height: 80px;
    width: 80px;
    background: #2C9CAA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    margin-right: 5px;
}

#section-1 .contact .tel{
    grid-area: tel;
    font-size: calc(0.33 * 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

#section-1 .contact .tel::before{
    content: "\260E";
    color: white;
    font-size: 3rem;
    height: 80px;
    width: 80px;
    background: #2C9CAA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    margin-right: 5px;
}

#section-1 .contact .rs{
    grid-area: rs;
    font-size: calc(0.33 * 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#section-1 .contact .rs::before{
    content: "\2687";
    color: white;
    font-size: 3rem;
    height: 80px;
    width: 80px;
    background: #2C9CAA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    margin-right: 5px;
}

#section-1 .contact .adresse{
    grid-area: adresse;
    font-size: calc(0.33 * 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#section-1 .contact .adresse::before{
    content: "\2690";
    color: white;
    font-size: 3rem;
    height: 80px;
    width: 80px;
    background: #2C9CAA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    margin-right: 5px;
}


/* **********************SECTION 2 ********************************* */

#section-2{
    height: 100vh;
    width: 90%;
    max-width: 1400px ;
    background-color: #0093E9;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section-2::before{
    content: "";
    width : 25vh;
    height: 25vh;
    border-radius: 50%;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    position: absolute;
    top: 70%;
    left: 10%;
}

#section-2::after{
    content: "";
    width : 20vh;
    height: 20vh;
    border-radius: 50%;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    position: absolute;
    top: 5%;
    right: 5%;
}

#section-2 h3{
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


#section-2 .card{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    padding: 30px;
    display: grid;
    grid-template-areas:   "vba pvba"
                                        "html phtml"
                                        "js pjs"
                                        "creatif pcreatif"
                                        "gp pgp"
                                        "react preact";
    grid-template-columns: 40% 1fr;
    grid-template-rows: repeat(6, 1fr);
    background: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
}

#section-2 .card .vba{
   grid-area: vba;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 50px;
}

#section-2 .card .pvba{
    grid-area: pvba;
    display: flex;
    align-items: center;
 }

#section-2 .card .pvba .progressbar .pvbaAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

  #section-2 .card .html{
    grid-area: html;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
 }

 #section-2 .card .phtml{
    grid-area: phtml;
    display: flex;
    align-items: center;
 }

#section-2 .card .phtml .progressbar .htmlAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

 #section-2 .card .js{
    grid-area: js;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
 }

 #section-2 .card .pjs{
    grid-area: pjs;
    display: flex;
    align-items: center;
 }

#section-2 .card .pjs .progressbar .jsAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

 #section-2 .card .creatif{
    grid-area: creatif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
 }

 #section-2 .card .pcreatif{
    grid-area: pcreatif;
    display: flex;
    align-items: center;
 }

#section-2 .card .pcreatif .progressbar .creatifAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

 #section-2 .card .gp{
    grid-area: gp;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
 }

 #section-2 .card .pgp{
    grid-area: pgp;
    display: flex;
    align-items: center;
 }

#section-2 .card .pgp .progressbar .gpAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

 #section-2 .card .react{
    grid-area: react;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
 }

 #section-2 .card .preact{
    grid-area: preact;
    display: flex;
    align-items: center;
 }

#section-2 .card .preact .progressbar .reactAnim{
    width: 0;
    transition: all 3s ease-in-out;
 }

 .progressbar{
    width:100%;
    height:15px;
    background:white;
    border-radius:5px;
  }
  .progress{
    background:#FF6B00;
    height:inherit;
    border-radius:inherit;
  }
 
 
  
/**********************************************SECTION 3 *********************************************/


#section-3{
    height: 100vh;
    width: 90%;
    max-width: 1400px ;
    background-color: #AF90E0;
    background-image: linear-gradient(160deg, #AF90E0 0%, #8088d0 100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#section-3::before{
    content: "";
    height: 50%;
    width: 100%;
    /* background: url("assets/mountain.png") center/cover; */
    clip-path: polygon(66% 19%, 75% 32%, 100% 0, 100% 100%, 0 100%, 21% 64%, 29% 74%);
    background: linear-gradient(160deg, yellow 0%, #98f306 100%);
    position: absolute;
    bottom: 0;
}

#section-3 .techno{
    content: "";
    width: 15%;
    height: 15%;
    background: url("assets/techno.png") center/cover;
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

#section-3 .evolution{
    content: "";
    display: block;
    width: 270px;
    height: 100px;
    background: url("assets/evolution.png") center/cover;
    position: absolute;
    z-index: 15;
    bottom: 10px;
    left: 20%;
}

#section-3 .experience{
    width: 50%;
    transform: translateY(-100px);
}

#section-3 .experience .card-xp{
    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    color: white;
    margin-bottom: 40px;
    padding: 5px;
    z-index: 20;
}

#section-3 .experience h3{
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

#section-3 .experience h4{
    margin-bottom: 20px;
    font-size: 2rem;
}


#section-3 .experience h5{
    margin-bottom: 20px;
    font-size: 1.3rem;
}

#section-3 .experience p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#section-3 .experience .card-xp .bl-logo{
    background: url("assets/bl.png");
    background-size: cover;
    width:100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#section-3 .experience .card-xp .tpm-logo{
    background: url("assets/maint.png");
    background-size: cover;
    width:100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#section-3 .formation{
    width: 40%;
    transform: translateY(-150px);
}

#section-3 .formation .card-ecole{
    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    color: white;
    margin-bottom: 40px;
    padding: 5px;
    z-index: 20;
}

#section-3 .formation h3{
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

#section-3 .formation h4{
    margin-bottom: 20px;
    font-size: 2rem;
}

#section-3 .formation h5{
    margin-bottom: 20px;
    font-size: 1.3rem;
}

#section-3 .formation p{
    margin-bottom: 50px;
    font-size: 1.2rem;
}

#section-3 .formation .card-ecole .etude-logo{
    background: url("assets/ecole.png");
    background-size: cover;
    width:170px;
    height: 120px;
    margin: 0 auto;
}



/**********************************************SECTION 4 *********************************************/


#section-4{
    height: 50vh;
    width: 90%;
    max-width: 1400px ;
    /* background-color: #0093E9; */
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
    text-align: center;
}

#section-4 .awards {
    width: 50%;
}

#section-4 .awards .award-logo {
   background: url("assets/award.png") center/cover;
   width: 100px;
   height: 100px;
   margin: 0 auto;
}

#section-4 h3{
    margin-bottom: 30px;
}

#section-4 h4{
    margin-bottom: 20px;
    font-size: 2rem;
}

#section-4 p{
    margin-bottom: 40px;
    font-size: 1.2rem;
}

#section-4 .ref h4{
    margin-bottom: 20px;
    font-size: 2rem;
}

#section-4 .ref .ref-logo{
    background: url("assets/ref.png") center/cover;
    width: 130px;
    height: 100px;
    margin: 0 auto;
}
